<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmer</title>
    <link rel="stylesheet" href="/Egne prosjekt/prosjekt1/src/css/site.css" />
</head>
<body>
    <header>

    </header>
    <main>
        
        <h1>Filmsøk</h1>

        <label for="searchInput">Søk film</label>
        <input type="text" id="searchInput" placeholder="skriv filmnavn..." />

        <button id="searchBtn">Søk</button>

        
        <div id="movieGrid"></div>
      

    </main>
    <footer>

    </footer>
    <script src="/Egne prosjekt/prosjekt1/src/app.js"></script>
</body>
</html>
